#nav-bar{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0vh;
    z-index: 1;
    border-radius: 20px;
    animation-name: nav-animation;
    animation-duration: 1.5s;
    width: 100%;
 }
 @keyframes nav-animation{
    from{
       opacity: 0%;
       width: 0px;
     }

    to{
       opacity: 100%;
       width: 100%;
    }
 }

    .nav-link::before{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 1.5px;
    background: #ffffff;
    content:"";
    opacity: 1;
    transition: 0.5s;
 }

    .nav-link::after{
    position: absolute;
    top: 100%;
    right: 0px;
    width: 0px;
    height: 1.5px;
    background: #ffffff;
    content:"";
    opacity: 1;
    transition: 0.5s;
    margin-top: -1.5px;
 }

 .nav-link:hover::before , .nav-link:hover::after{
    width: 100%;
 }

 .nav-button{
     display: flex;
     justify-content: space-around;
     width: 80%;
     background-color: rgb(0 40 149 / 61%);
     border-bottom-right-radius: 30px;
     border-bottom-left-radius: 30px;
 }
 
 #nav-cart-page{
     display: flex;
     align-items: center;
     cursor: pointer;
 }

 
 
 .nav-link{
     all: unset;
     display: flex;
     align-items: center;
     cursor: pointer;
     position: relative;
 }
 
  #cart-icon{
     display: block;
     width: 15px;
     height: 16px;
     background-repeat: no-repeat;
     background-position: center;
     
    }

    .nav-icons{
        color: #ffffff;
    }
    .page-title{
        padding: 7px;
        color: white;
        margin: 0px;
        margin-left: 3px;
    }
    
    .nav-link:hover .nav-icons{ 
        color: black;
    }
    .nav-link:hover .page-title{ 
        color: black;
    }

    #nav-cart-page:hover .nav-icons{
        color: black;
    }
    #nav-cart-page:hover .page-title{
        color: black;
    }

   